body {
	background-color: seashell;
	font-family: "Tahoma";
	text-align: justify;
	color: darkslategray;
}

a:visited {
	color: teal;
}

hr {
	color: darkslategray;
}

img {
	max-width:  50%;
	height:  auto;
}

.header {
	font-family: "Tahoma";
	margin: auto;
	width: 50%;
}

.menu {
	background-color: papayawhip;
	padding: 10px 20px;
	margin: right;
}

.assignment {
	padding: 5px 10px;
	margin: auto;
	width: 50%;
}

.photo {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	text-align: justify;
	text-align-last: right;
	width: 50%;
	margin: auto;
}

.table {
	display: flex;
	padding: 0px 10px;
	width: 100%;
	justify-content: space-evenly;
}

#list {
	font-family: "Courier New";
}

#caption {
	text-align: justify;
	color: red;
}

#ascii {
	background-color: papayawhip;
    display: block;
    font-size: 7px;
    text-align: center;
    font-family: Ubuntu Mono, monospace !important;
    text-rendering: optimizeSpeed;
    padding:5px 10px;
}

#prompt {
	background-color: papayawhip;
}